<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="app" ng-controller="EmployeeController">
<div>
<form>
<pre>
Enter employee name:<input type="text" ng-model="employee.ename">
Enter department:<input type="text" ng-model="employee.department">
Enter salary :<input type="text" ng-model="employee.salary">
Enter DoB :<input type="date" ng-model="employee.dob">
<input type="submit" ng-click="addEmployee(employee)">

</pre>
</form>
<h3>Employee Details</h3>
<table>
<thead>
<tr>
<table>
<thead>
<tr>
<th>EID</th>
<th>Ename</th>
<th>Department</th>
<th>Salary</th>
<th>DOB</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="e in employees">
<td>{{e.eid}}</td>
<td>{{e.ename}}</td>
<td>{{e.department}}</td>
<td>{{e.salary}}</td>
<td>{{e.dob | date:'medium' }}</td>
</tr>
</tbody>
</table>
<th>Ename</th>
<th>Department</th>
<th>Salary</th>
<th>DOB</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="e in employees">
<td>{{e.eid}}</td>
<td>{{e.ename}}</td>
<td>{{e.department}}</td>
<td>{{e.salary}}</td>
<td>{{e.dob}}</td>
</tr>
</tbody>
</table>

</div>

</body>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angularjs"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="controller/employeecontroller.js"></script>
	<script type="text/javascript" src="services/employeeservice.js"></script>
	
</html> -->